/******************************************************************************
  共通
******************************************************************************/
html, body {
  height: 100%; /* コンテンツ領域の確保 */
}

/* navbar */
.navbar.navbar-dark a.navbar-brand {
  color: #fafafa;
}
.navbar.navbar-dark a.navbar-brand:hover {
  color: #fafafa;
}
.navbar-text-content {
  color: #fafafa;
}

/******************************************************************************
  新規登録
******************************************************************************/
.form-control.form-control-ge {
  width: 150px;
}
.form-control.form-control-po {
  width: 500px;
}

/******************************************************************************
  詳細
******************************************************************************/
.form-control.form-control.id {
  width: 50px;
}

/******************************************************************************
  従業員一覧
******************************************************************************/
/* クリックできる行はマウスカーソルをポインタに変える */
.table tbody tr[data-href]:hover {
    cursor: pointer;
  }